{% extends 'base.html' %}
{% block title %}
Info Page
{% endblock %}
{% block content %}
    <div class="position-relative overflow-hidden p-3 p-3 d-md-block text-center bg-dark" style="color: white">
        <div class="col-md-5 p-lg-5 mx-auto my-5">
            <h1 class="shadow-lg p-3 mb-5 bg-body rounded" class="display-4 font-weight-normal">Info Page</h1>
            <p class="lead">Welcome to the SJSU Lost and Found platform - Unilocate!</p>
            <p class="lead">This platform is for those who have lost items on campus, and for those who have found items on campus</p>
            <p class="lead">If you have lost an item, please search for you item using the search bar above, if it is not there, you can create a lost item form</p>
            <p class="lead">If you have found an item, please search for you item using the search bar above, if it is not there, you can create a found item form</p>
            <p class="lead">On campus lost and founds are located at the campus police office, student union, and resident housing office</p>
            
        </div>
        <div class="product-device box-shadow d-none d-md-block"></div>
        <div class="product-device product-device-2 box-shadow d-none d-md-block"></div>
    </div>
{% endblock %}
