{% extends 'base.html'%}
{% block title%}
Lost Item
{%endblock title%}

{%block content%}
<body> 
<!--LOST ITEM FORM-->
<section class="vh-100 gradient-custom">
      <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="col-12 col-md-8 col-lg-6 col-xl-5">
            <div class="card bg-dark text-white" style="border-radius: 1rem;">
              <div class="card-body p-5 text-center"> 
              <div class="mb-md-5 mt-md-4 pb-5">
                  <h2 class="shadow-lg p-3 mb-5 bg-body rounded" class="text-uppercase text-center mb-5">Lost Item Report Form</h2>

                  <form method="POST" class="form-register" style="color:white">
                      {{ form.hidden_tag() }}
                      
                      {{ form.item_name(type="text", class="shadow-lg p-3 mb-3 form-control", placeholder="Item Name") }}
                      {{ form.item_name.label() }}
                      <br> <br>
                      {{ form.item_type(type="text", class="shadow-lg p-3 mb-3 form-control", placeholder="Item Type") }}
                      {{ form.item_type.label() }}
                      <br> <br>
                      {{ form.lost_location(type="text", class="shadow-lg p-3 mb-3 form-control", placeholder="Lost Location") }}
                      {{ form.lost_location.label() }}
                      <br> <br>
                      {{ form.description(type="text", class="shadow-lg p-3 mb-3 form-control", placeholder="Item Description") }}
                      {{ form.description.label() }}
                      <br> <br>
                       
                      <div class="d-flex justify-content-center">
                        {{ form.submit(class="shadow-lg p-2 mb-3 bg-body btn btn-light btn-lg px-5") }}
                      </div>
                      <br>

                  </form>

                  </div>
              </div>
              </div>
          </div>
          </div>
      </div>
</section>
</body>
{%endblock content%}
</html>
